# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# environments
.env

# nuxt.js build output
.nuxt
_nuxt

# Nuxt generate
dist

# IDE / Editor
.idea
.vscode

# Service worker
sw.*

# macOS
.DS_Store

# Vim swap files
*.swp
